* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #242A43;
}

/* Calculator Container */

.calculator-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  border: black solid 2px;
  background-color: #6290C3;
  border-radius: 8px;
  box-shadow: black 2px 4px 10px;
}

/* Display Container */

.display-container {
  height: 150px;
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0px;
}

.display-messages-container {
  flex: 1;
  background-color: #FFF8F0;
  border-radius: 4px;
  box-shadow: black inset 1px 1px 2px 3px;
  display: flex;
  flex-direction: column;
  padding: 10px 18px;
}

p {
  margin: 0;
}

.display-message-container {
  flex: 1;
  align-self: flex-end;
  font-size: 70px;
  display: flex;
  align-items: center;
}

.previous-calculation-message-container {
  font-size: 30px;
  display: flex;
  align-items: center;
  color: #363636;
}

.bottom-border-separator {
  border-bottom: #7d7d7d75 solid 1px;
}

/* All Buttons */

.buttons-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 15px;
  padding: 20px;
  gap: 8px;
}

.number-and-operator-buttons-container {
  display: flex;
  flex: 1;
}

.number-and-operator-buttons-container,
.number-buttons-container,
.operator-buttons-container,
.miscellaneous-buttons-container,
.row {
  gap: 9px;
}

button {
  flex: 1 1 0;
  font-size: 27px;
  background-color: #FFF8F0;
  border: none;
  border-radius: 4px;
  box-shadow: black 1px 1px 2px 2px;
}


/* Number Buttons */

.number-buttons-container {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.row {
  flex: 1;
  display: flex;
}

.number-button:hover,
.button-decimal:hover {
  background-color: #FFF3E6;
}

.button-decimal:disabled {
  background-color: #D8D1C9;
}

.number-button:active,
.button-decimal:active {
  background-color: #FFF8F0;
}

/* Operator Buttons */

.operator-buttons-container {
  display: flex;
  flex-direction: column;
  flex: 0.9;
}

.operator-button {
  background-color: #F4D06F;
}

.operator-button:hover {
  background-color: #F6DA8D;
}

.operator-button:disabled {
  background-color: #E0C183;
}

.operator-button:active {
  background-color: #F8E0A0;
}

.button-add {
  flex: 2.15;
}

.operator-button,
.button-equals {
  font-size: 35px;
}

/* Miscellaneous Buttons */

.button-equals {
  flex: 2.2;
  background-color: #5CAD67;
}

.button-equals:hover {
  background-color: #8DC695;
}

.button-equals:disabled {
  background-color: #70917A;
}

.button-equals:active {
  background-color: #9DCEA4;
}

.button-backspace,
.button-clear {
  background-color: #E65283;
}

.button-backspace:hover,
.button-clear:hover {
  background-color: #E9628F;
}

.button-backspace:active,
.button-clear:active {
  background-color: #EB749C;
}
